*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #001122;
    color: white;
}
img{
    width: 50%;
    border-radius: 50%;
    margin: 1rem 0rem 1rem 0rem;
}
.foto_descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
p{
    text-align: left;
    width: 90%;
    margin: auto;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    margin: auto;
}
.habilidades{
    display: flex;
    flex-direction: column;
}
.habilidades h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.iconos_habilidades{
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 1px 10px -5px ;
    padding: 1rem 0rem 1rem 0rem;
}
.iconos_habilidades .iconos{
    font-size: 2rem;
}
span{
    border-right: 2px solid white;
    width: 0;
    animation: blink 0.5s infinite step-end alternate, escritura 2s steps(30) infinite;
    overflow: hidden;
}
@keyframes blink {
    50%{
        border-color: transparent;
    }
}
@keyframes escritura {
    0% {
        width: 0;
    }
    100% {
        width: 37ch;
    }
}

@media(min-width: 720px){
    .foto_descripcion{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
        gap: 2rem;
    }
    img{
        width: 15%;
        border-radius: 50%;
        margin: 1rem 0rem 1rem 0rem;
    }
}
@media(min-width: 1024px){
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        width: 90%;
        margin: auto;
    }
}